configuration {
  modes: "drun,run";
	terminal: "kitty";
  drun-display-format: "{name}";
  location: 0;
  disable-history: false;
  hide-scrollbar: false;
  show-icons: true;
  display-run: "Run";
  sidebar-mode: true;
}

@theme "i3berg-contrast"
